body {
    background-color: floralwhite;
}

.card {
    display: inline;
    /*position: absolute;*/

    background-color: white;

    margin: 20px;
    padding: 20px;
    border: none;

    cursor: pointer;

    transition: 0.5s;
}

.card:hover {
    background-color: color-mix(in srgb, white 90%, black 10%)
}

.cardText {
    margin: 0px;
    padding: 0px;
}
